@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "normalize.css";

/* font-family: "Roboto",
sans-serif; */

:root {
  --blue: #3a68b8;
  --white: #ffffff;
  --gray70: #b4b7bb;
  --gray60: #9c9fa5;
  --bg: #020a18;
  --duration: 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 16px;
}

p {
  line-height: 1.6;
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  transition: opacity var(--duration);

  svg {
    width: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: normal;
  }
}

nav {
  background: linear-gradient(to top, #0a111e, #0a121f, #0b121f, #0b1320);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

    .nav_logo {
      display: flex;
      align-items: center;
      gap: 15px;

      h3 {
        color: var(--blue);
        font-weight: 600;
        font-size: 22.55px;
        margin: 0;
      }
    }
    .nav_menu {
      .nav_mobile_btn {
        display: none;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 32px;
        height: 32px;

        svg {
          stroke: red;
          fill: var(--white);
        }
      }
      ul {
        display: flex;
        gap: 40px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          a {
            display: block;
            text-decoration: none;
            font-weight: 600;
            color: var(--white);
            transition: opacity var(--duration);

            &:hover {
              opacity: 0.8;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          gap: 16px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .nav_menu {
        .nav_mobile_btn {
          display: block;
        }
        ul {
          display: none;
        }
      }
      .nav_sign_in {
        display: none;
      }
    }

    @media screen and (max-width: 390px) {
      .nav_logo {
        gap: 12px;
      }

      svg {
        width: 35px;
      }

      h3 {
        font-size: 16px;
      }
    }
  }
}

header {
  padding-top: 49px;
  padding-bottom: 99px;
  background: linear-gradient(to top, #08101d, #08101e, #09101e, #09111f);

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 48px;
    grid-template-areas:
      "content img"
      "partner partner";

    @media screen and (max-width: 1024px) {
      grid-template-areas:
        "content content"
        "img img"
        "partner partner";
    }

    .header__content {
      grid-area: content;
      align-self: center;

      h4 {
        color: var(--blue);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
        text-transform: uppercase;
        margin: 0;
      }

      h1 {
        font-weight: 800;
        line-height: 1.3;
        font-size: 55px;
        color: var(--white);
        margin-top: 10px;
        margin-bottom: 40px;

        @media screen and (max-width: 1024px) {
          font-size: 48px;
        }
        @media screen and (max-width: 768px) {
          font-size: 36px;
        }
        @media screen and (max-width: 580px) {
          font-size: 32px;
        }
      }

      p {
        margin: 0 0 50px 0;
        font-size: 18px;
        color: var(--gray70);
      }

      .header__content-btns {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 380px) {
          flex-wrap: wrap;
          button {
            width: 100%;
            justify-content: center;
          }
        }
      }

      @media screen and (max-width: 768px) {
        text-align: center;

        .header__content-btns {
          justify-content: center;
        }
      }
    }

    .header__img {
      grid-area: img;
      img {
        width: 100%;
      }
    }

    .header__partners {
      grid-area: partner;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 72px;
      margin-top: 48px;

      .header__partners-item {
        width: 20%;
        svg {
          width: 100%;
        }

        @media screen and (max-width: 1024px) {
          width: 40%;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}

main {
  background: var(--bg);
  padding: 130px 0px;

  .container {
    display: flex;
    align-items: center;
    gap: 64px;

    .main__img {
      max-width: 725px;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .main__block {
      max-width: 484px;

      h2 {
        color: var(--white);
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        margin-top: 0px;
        margin-bottom: 30px;

        @media screen and (max-width: 1024px) {
          font-size: 36px;
        }
        @media screen and (max-width: 768px) {
          font-size: 32px;
        }
        @media screen and (max-width: 580px) {
          font-size: 28px;
        }
      }

      p {
        color: var(--gray70);
        margin-top: 0;
      }
      button {
        margin-top: 34px;
      }
    }
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;

      .main__img,
      .main__block {
        max-width: unset;
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center;
      gap: 32px;

      button {
        margin: 0 auto;
      }
    }
  }

  .main__slider {
    margin: 130px 0px;

    .main__slider-items {
      display: flex;
      gap: 30px;
      justify-content: center;
      overflow: hidden;

      .main__slider-item {
        padding: 30px;
        max-width: 362px;
        min-width: 362px;
        background: linear-gradient(
          to top,
          #0d1522,
          #0e1523,
          #101825,
          #131b28,
          #161d2a,
          #171e2b,
          #18202c
        );
        border-radius: 10px;

        .msi-icon {
          width: 98px;
          height: 98px;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .msi__title {
          font-size: 25px;
          font-weight: 700;
          text-align: center;
          color: var(--white);
          margin-top: 30px;
          margin-bottom: 30px;
        }

        .msi__descr {
          margin: 0;
          text-align: center;
          color: var(--gray70);
          padding: 0;
        }
      }
    }
    @media screen and (max-width: 768px) {
      margin: 64px 0px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 64px 0px;
  }
}

footer {
  padding: 130px 0px;
  background: linear-gradient(to top, #0a111e, #0a121f, #0b121f, #0b1320);
  font-family: "Roboto", sans-serif;
  color: var(--white);

  .container {
    display: flex;
    gap: 64px;
    justify-content: space-between;

    .footer__block {
      &:first-child,
      &:last-child {
        max-width: 261px;
      }

      .footer__logo {
        h3 {
          font-size: 15px;
          font-weight: 600;
          color: var(--blue);
        }
      }

      .footer__text {
        font-size: 14px;
        margin: 0 0 32px 0;
        font-weight: 400;
        color: var(--gray60);
      }

      .footer__contact {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 20px;

          span {
            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }

      h4 {
        font-size: 16px;
        font-weight: 600;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin-bottom: 20px;

          a {
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            color: var(--gray60);
            transition: color var(--duration);

            &:hover {
              color: var(--white);
            }
          }
        }
      }

      .company__social {
        a {
          color: inherit;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
        }

        ul {
          display: flex;
          gap: 25px;
          margin-top: 25px;
          margin-bottom: 0;
        }
      }
    }

    @media screen and (max-width: 1140px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
      gap: 24px;

      .footer__block {
        width: 100%;
        justify-content: center;
        text-align: center;

        &:first-child,
        &:last-child {
          max-width: unset;
        }

        .company__social {
          ul {
            justify-content: center;
          }
        }

        .footer__contact {
          li {
            justify-content: center;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 64px 0px;
  }
}
